

<div class='row justify-content-center'>
    <div class='card m-2'>
        <div class='card-header'>
            <p>Manager</p>
            <h3>${manager.name}</h3>
        </div>
        <div class="card-body bg-light text-dark">
            <ul class="list-group">
                <li class='list-group-item'>ID: ${manager.id}</li>
                <li class='list-group-item'>Email: ${manager.email}</li>
                <li class='list-group-item'>Office#: ${manager.officeNumber}</li>
            </ul>
        </div>
    </div>
</div>

<div class='row justify-content-center'>

